#Explosion
public-f net.minecraft.world.level.Explosion size
public-f net.minecraft.world.level.Explosion fire

#NearestAttackableTargetGoal
public net.minecraft.world.entity.ai.goal.target.NearestAttackableTargetGoal targetType
public net.minecraft.world.entity.ai.goal.target.NearestAttackableTargetGoal targetConditions

#EntityPredicate
public net.minecraft.world.entity.ai.targeting.TargetingConditions selector

#LivingEntity
public net.minecraft.world.entity.LivingEntity dead

#AbstractSkeletonEntity
public net.minecraft.world.entity.monster.AbstractSkeleton bowGoal

#CreeperEntity
public net.minecraft.world.entity.monster.Creeper DATA_IS_IGNITED
public net.minecraft.world.entity.monster.Creeper swell
public net.minecraft.world.entity.monster.Creeper explosionRadius
public net.minecraft.world.entity.monster.Creeper spawnLingeringCloud
public net.minecraft.world.entity.monster.Creeper explodeCreeper()V

#Spider
public net.minecraft.world.entity.monster.Spider$SpiderTargetGoal

#EntityClassification
public-f net.minecraft.world.entity.MobCategory despawnDistance

#Blaze
public net.minecraft.world.entity.monster.Blaze setCharged(Z)V
public net.minecraft.world.entity.monster.Blaze$BlazeAttackGoal

#Ghast
public net.minecraft.world.entity.monster.Ghast$GhastShootFireballGoal

#Mob
public net.minecraft.world.entity.Mob moveControl

#Drowned
public net.minecraft.world.entity.monster.Drowned wantsToSwim
public net.minecraft.world.entity.monster.Drowned searchingForLand
public net.minecraft.world.entity.monster.Drowned$DrownedSwimUpGoal
public net.minecraft.world.entity.monster.Drowned$DrownedMoveControl
public net.minecraft.world.entity.monster.Drowned waterNavigation
public net.minecraft.world.entity.monster.Drowned groundNavigation

#HurtByTargetGoal
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal toIgnoreAlert
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal toIgnoreDamage
public net.minecraft.world.entity.ai.goal.target.HurtByTargetGoal alertSameType

# DamageSources
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource;

# AttributeInstance
public net.minecraft.world.entity.ai.attributes.AttributeInstance setDirty

# SwimNodeEvaluator
public-f net.minecraft.world.level.pathfinder.SwimNodeEvaluator allowBreaching

# Shulker
public net.minecraft.world.entity.monster.Shulker setRawPeekAmount(I)V
public net.minecraft.world.entity.monster.Shulker$ShulkerAttackGoal
public net.minecraft.world.entity.monster.Shulker$ShulkerNearestAttackGoal
public net.minecraft.world.entity.monster.Shulker$ShulkerDefenseAttackGoal

# CrossbowItem
public net.minecraft.world.item.CrossbowItem onCrossbowShot(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;)V
public net.minecraft.world.item.CrossbowItem getChargedProjectiles(Lnet/minecraft/world/item/ItemStack;)Ljava/util/List;
public net.minecraft.world.item.CrossbowItem getArrow(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/world/entity/projectile/AbstractArrow;

# Silverfish
public net.minecraft.world.entity.monster.Silverfish$SilverfishMergeWithStoneGoal
public net.minecraft.world.entity.monster.Silverfish$SilverfishWakeUpFriendsGoal
public net.minecraft.world.entity.monster.Silverfish friendsGoal

public net.minecraft.world.entity.monster.warden.Warden$VibrationUser

public net.minecraft.world.entity.monster.Drowned$DrownedGoToWaterGoal

public net.minecraft.world.entity.animal.AbstractFish$FishMoveControl

public net.minecraft.world.entity.monster.Vindicator$VindicatorJohnnyAttackGoal
public net.minecraft.world.entity.monster.Vindicator isJohnny